.contact-me-btn {
  background-color: var(--con);
  color: var(--bgc);
}
.theme-btn {
  width: 2rem;
  height: 1rem;
  border: 1px solid var(--color);
  border-radius: 50rem;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 0.2rem;
}
#theme-ball {
  height: 0.6rem;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50em;
}

#res-nav > a > p {
  padding: 0.5rem 0;
}

/*  skill  */

.progress-div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.progress-div > span {
  width: 0.6rem;
  height: 0.6rem;
  /* aspect-ratio: 1/1 !important; */
  border-radius: 50rem;
  border: 1px solid var(--color);
}

.progress-div-1 > span:nth-child(-n + 9),
.progress-div-2 > span:nth-child(-n + 8),
.progress-div-3 > span:nth-child(-n + 8),
.progress-div-4 > span:nth-child(-n + 6),
.progress-div-5 > span:nth-child(-n + 7),
.progress-div-6 > span:nth-child(-n + 8) {
  background-color: var(--skill);
}

.form-inp {
  appearance: none;
  outline: none !important;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19.8px);
  -webkit-backdrop-filter: blur(19.8px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.heading-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-inp {
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.form-inp:focus {
  border-color: blue;
  outline: none;
}
#submit:hover {
  background-color: #2563eb;
  cursor: pointer;
}
